<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= profile.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= profile.summary %>
  </p>

</div>
