<div class="row">
  <div class="col-md-4">
    <%= render 'profile_card' %>
    <%= render 'skills_card' %>
    <%= render 'education_card' %>
  </div>
  
  <div class="col-md-8">
    <%= render 'about_card' %>
    <%= render 'experience_card' %>
    <%= render 'projects_card' %>
    <%#= render 'references_card' %>
  </div>
</div>