<div id="<%= dom_id education %>">
  <p>
    <strong>Institution:</strong>
    <%= education.institution %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= education.degree %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= education.field %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= education.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= education.end_date %>
  </p>

</div>
